# Hamoye Data Science Internship
## Notebook of Quize in Stage A
### Name- Idoko Job John
### Student ID- 5da308

### Question 17 to 20, 13-16

In [ ]:
#importing relevant libraries
import numpy as np #for array numerical computing and array operations
import pandas as pd #for two-dimensional arrays and tabular operations
import matplotlib.pyplot as plt #scientific operations and plotting
import seaborn as sns #data visualisation
import sklearn
print('relevant libraries imported')

In [96]:
#importing the quiz dataset
df_main = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
df_main.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [97]:
#Renaming some columns
df_main = df_main.rename(columns = {'T1':'kitchen_temp', 'RH_1':'kitchen_hum', 'T2':'livrm_temp', 'RH_2':'livrm_hum', 'T3': 'laundry_temp',
                         'RH_3':'laundry_hum', 'T4':'office_temp', 'RH_4':'office_hum', 'T5': 'bath_temp', 'RH_5': 'bath_hum',
                         'T6': 'outside_temp', 'RH_6':'outside_hum', 'T7':'ironrm_temp', 'RH_7': 'ironrm_hum', 'T8':'teenrm_temp',
                         'RH_8':'teenrm_hum', 'T9':'dadsrm_temp','RH_9':'dadsrm_hum', 'T_out':'Chis_temp', 'RH_out':'Chis_hum' })
print('First 5 rows of main dataset:')
df_main.head()

First 5 rows of main dataset:

,date,Appliances,lights,kitchen_temp,kitchen_hum,livrm_temp,livrm_hum,laundry_temp,laundry_hum,office_temp,...,dadsrm_temp,dadsrm_hum,Chis_temp,Press_mm_hg,Chis_hum,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [98]:
df_main.describe() #to get basic statistical info about the dataset

,Appliances,lights,kitchen_temp,kitchen_hum,livrm_temp,livrm_hum,laundry_temp,laundry_hum,office_temp,office_hum,...,dadsrm_temp,dadsrm_hum,Chis_temp,Press_mm_hg,Chis_hum,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [36]:
df_main.shape

(19735, 29)

In [99]:
#removing recommended columns
df = df_main.drop(['date', 'lights'], axis = 1)
df.head()

,Appliances,kitchen_temp,kitchen_hum,livrm_temp,livrm_hum,laundry_temp,laundry_hum,office_temp,office_hum,bath_temp,...,dadsrm_temp,dadsrm_hum,Chis_temp,Press_mm_hg,Chis_hum,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [100]:
#performing recommended scaling of the dataset with the MinMax Scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() #to instantiate an object of the scaler
df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
print('First 5 rows of scaled dataset:')
df.head()

First 5 rows of scaled dataset:

,Appliances,kitchen_temp,kitchen_hum,livrm_temp,livrm_hum,laundry_temp,laundry_hum,office_temp,office_hum,bath_temp,...,dadsrm_temp,dadsrm_hum,Chis_temp,Press_mm_hg,Chis_hum,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [101]:
df.shape

(19735, 27)

Notice that the number of columns has reduced by 2 after dropping date and light columns.

In [102]:
#specifying target and response variables
X = df.drop('Appliances', axis = 1) #predictors
X.head()

,kitchen_temp,kitchen_hum,livrm_temp,livrm_hum,laundry_temp,laundry_hum,office_temp,office_hum,bath_temp,bath_hum,...,dadsrm_temp,dadsrm_hum,Chis_temp,Press_mm_hg,Chis_hum,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [103]:
#specifying response variable
y = df['Appliances']
y.head()

0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729
Name: Appliances, dtype: float64

In [104]:
#splitting the dataset, given test size of 30% and random_state parameter value of 42
from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X,y, test_size = 0.3, random_state = 42 )

In [105]:
#fitting the training dataset to a linear regression model
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [106]:
#trying the model on the test set
y_pred = mlr.predict(X_test) #to predict y_test
y_pred

array([0.03322207, 0.24411599, 0.03400024, ..., 0.06844707, 0.10032325,
       0.05722198])

In [166]:
#evaluating the model on the test set
mlr_score = mlr.score(X_test,y_test) #the score of the model on the test set is the r-squarred value
print ('R-squared value of Multiple Linear Regression or OLS: {}'.format(round(mlr_score,2)))
#alternative method for r-square and other evaluation metrics 
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as msr
print('Confirming, R-squared value of Ordinary Least Square (OLS) Regression  is: {}'.format(round(r2_score(y_test, y_pred),3)))
print('OLS mean absolute error: {:.2f}'.format(mae(y_test, y_pred)))
print ('OLS mean squared error: {:.2f}'.format(msr(y_test, y_pred)))
print('OLS sum of squared residuals: {:.2f}'.format(np.sum(np.square(y_test-y_pred))))
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print('rmse_linreg:', round(rmse),3) #this error cost me two correct answers:inputing 0.03 instead of 0.088 and selecting 'yes' in another question that the ridge rmse differs from the linear reg rmse

R-squared value of Multiple Linear Regression or OLS: 0.15
Confirming, R-squared value of Ordinary Least Square (OLS) Regression  is: 0.149
OLS mean absolute error: 0.05
OLS mean squared error: 0.01
OLS sum of squared residuals: 45.35
rmse_linreg: 0.0 3

The above R-squarred value obviously show low performance of linear regression or ordinary least square regression on the dataset.

### question 12
##### linear model between temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6)

In [121]:
#df.head()

In [118]:
#x = df['livrm_temp']
#x.head()

In [120]:
#y = df['outside_temp']
#y.head()

In [115]:
#lr12 = LinearRegression().fit(x,y)

## 18
## ridge

In [153]:
from sklearn.linear_model import Ridge
ridge = Ridge (alpha = 0.4)

ridge.fit(X_train,y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [124]:
y_pred_ridge = ridge.predict(X_test)
y_pred_ridge

array([0.03321872, 0.24043824, 0.03461337, ..., 0.06872351, 0.10025536,
       0.05851175])

In [127]:
rmse_ridge = np.sqrt(mean_squared_error(y_test, y_pred_ridge))
round(rmse_ridge,3)

0.088

there is difference

# 20
lasso

In [128]:
from sklearn.linear_model import Lasso
lasso = Lasso (alpha = 0.001)

lasso.fit(X_train,y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [130]:
y_lasso = lasso.predict(X_test)

In [132]:
lasso_rmse = np.sqrt(mean_squared_error(y_test, y_lasso))
round(lasso_rmse,3)

0.094

# 19 lasso new features

In [133]:
print("Number of features used: {}".format(np.sum(lasso.coef_ != 0)))

Number of features used: 4

## 17

In [167]:
#this function creates a table of the weight of every feature in the ols model
def get_weights_df(model,feet,col_name):
    weights = pd.Series(model.coef_,feet.columns).sort_values() #creates a pandas series of the coefficients of the model and columns of the feet argument
    weights_df = pd.DataFrame(weights).reset_index() #creates a dataframe from the weigths and makes adds an index column 
    weights_df.columns = ['Features', col_name] #renames the columns headers to 'Features' and the column name
    weights_df[col_name].round(3) #rounds them to 3decimal places
    return(weights_df)

#calling the function for the three linear regression models
linear_regression_weights = get_weights_df(mlr, X_train, 'Linear Model Weight') #calls the function for the linear regression model


linear_regression_weights.sort_values('Linear Model Weight', ascending = True).head()

      Features  Linear Model Weight
0    livrm_hum            -0.456698
1    Chis_temp            -0.321860
2   livrm_temp            -0.236178
3  dadsrm_temp            -0.189941
4   teenrm_hum            -0.157595

In [164]:

weights_df_final.sort_values('Linear Model Weight', ascending = False).head()

        Features  Linear Model Weight  Ridge Weight  Lasso Weight
25   kitchen_hum             0.553547      0.519525       0.01788
24  laundry_temp             0.290627      0.288087       0.00000
23  outside_temp             0.236425      0.217292       0.00000
22     Tdewpoint             0.117758      0.083128       0.00000
21   teenrm_temp             0.101995      0.101028       0.00000