# Hamoye Data Science Internship
## Notebook of Quize in Stage A
### Name- Idoko Job John
### Student ID- 5da308

In [10]:
#importing relevant libraries
import numpy as np #for array numerical computing and array operations
import pandas as pd #for two-dimensional arrays and tabular operations
import matplotlib.pyplot as plt #scientific operations and plotting
import seaborn as sns #data visualisation
print('relevant libraries imported')

relevant libraries imported

# Data Importation and Pre-processing

## Importing Required Data

In [11]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv' 
df = pd.read_csv(url) #website preview and url extension shows data is of csv format. Hence the use of pd.read_csv()
df.head() #to visualise the first five rows of the data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## Understanding the Data

In [12]:
df.tail() #to view last five rows

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.03
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.95
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.99
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.11
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.68

In [8]:
df.shape #to know number of rows and columns

(29523, 11)

In [13]:
df.info() #to get basic information about the data and ensure column data types are consistent and as expected.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [14]:
df.describe() #to get basic statistics of numeric columns in the table

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

## Data Cleansing

#### Checking for Duplicate Data

With over 29000 entries, duplicate data are likely to occur. It is best to check and resolve them if the need arises.

In [15]:
duplicate_rows = df[df.duplicated()]
print('number of duplicate rows: {}'.format(duplicate_rows.shape))

number of duplicate rows: (0, 11)

No duplicate rows exist.

#### Checking for Missing Data

Whie missing data will be dealt with based on individual questions needs, it is best to check for their presence or not and 
take cognisance of that.

In [16]:
print(df.isnull().sum()) #to count missing values

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

There are 180 missing values in the 'fuel_unit' column. Since this is non-numeric and it can be inferred from the preceding 
'fuel_type' column, we can iterate over the 'fuel_unit' column and populate all rows with the appropriate fuel unit.

In [17]:
df['fuel_type_code_pudl'].unique() #to first check how many unique fuel types we have

array(['coal', 'gas', 'nuclear', 'oil', 'waste', 'other'], dtype=object)

In [18]:
df[df['fuel_type_code_pudl']=='other'].head() ## to check if the 180 unidentified fuell units are in the 'other' fuel types. 
#if that is the case, then it was not an error but intentional and no modifications will be needed. Otherwise, the iteration
#could be done to re-populate the fuel_unit column if a question demands an accurate answer from that column

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
84,f1_fuel_1994_12_11_0_6,11,1994,w.f. wyman,other,bbl,55652.0,0.149719,14.685,15.09,2.335
203,f1_fuel_1994_12_54_0_6,54,1994,w.f. wyman unit 4,other,bbl,1217.0,0.149719,14.685,15.09,2.335
228,f1_fuel_1994_12_61_0_9,61,1994,wyman,other,bbl,7639.0,0.149719,14.685,15.09,2.335
277,f1_fuel_1994_12_74_0_3,74,1994,perry k & w,other,NaN,2654942.0,0.100000,0.044,0.00,0.440
349,f1_fuel_1994_12_99_0_1,99,1994,eaton,other,bbl,75.0,0.139136,0.530,0.00,3.830

Considering that some unidentified fuel_unit ('other' fuel) has units other than np.nan or null values, the column will be 
repopulated as the questions demand.

# Question 3
###### fuel type code with  lowest average fuel cost per unit burned?

In [19]:
df3= df[['report_year', 'fuel_type_code_pudl', 'fuel_cost_per_unit_burned']] #to extract the required columns
df3grp = df3.groupby(['fuel_type_code_pudl'], as_index=False).mean() #to group df3 by fuel type and take average of cost per unit burnt
ans3 = df3grp.sort_values(by = ['fuel_cost_per_unit_burned']) #to sort the required column in ascending order
print ('fuel type code with lowest average cost per fuel unit burned is {} '.format(ans3.iloc[0,0]))

fuel type code with lowest average cost per fuel unit burned is gas

In [27]:
print(ans3.head()) #to confirm the above answer

  fuel_type_code_pudl  report_year  fuel_cost_per_unit_burned
1                 gas  2005.978060                  13.659397
4               other  2001.700599                  18.253856
5               waste  2005.650794                  19.518122
0                coal  2004.623143                  67.421830
3                 oil  2007.195933                 168.877086

# Question 4

#### Estimating  the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit)

In [21]:
df4 = df.describe() #gives descriptive statistics of the numerical columns
df4

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [23]:
print ('standard deviation and 75th percentile of fuel_mmbtu_per_unit are {} and {} respectively'.format((df4.iloc[2,3]),(df4.iloc[-2,3]) ))

standard deviation and 75th percentile of fuel_mmbtu_per_unit are 10.600220307806886 and 17.006 respectively

# Question 5
#### Estimating Skewness and Kurtosis

In [32]:
df.skew(axis = 0, skipna = True) #for skewness, axis = 0 selects rows, skipna avaoids null values in the computation

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [33]:
df.kurtosis(axis=0) #for kurtosis determination

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

# Question 7

#### Estimating percentage of missing data and feature with missing data

In [25]:
print(df.isnull().sum()) #to count missing values for all features
df.shape #to return total number of rows

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

(29523, 11)

In [27]:
#dfans7 = (180/29343)*100
#ans7

percentage_of_row_missing = (180/29523)*100
percentage_of_row_missing

0.609694136774718

From the above result, the feature with missing values is the 'fuel_unit' feature; Total number of missing data is 180 and that 
constitutes 0.61% of the total rows in the data set.

# Question 8
#### Estimating and checking correlation strengths of features versus the  Fuel Cost Per Unit Burned

In [28]:
dfcor=df.corr()
dfcor.style.background_gradient(cmap = 'coolwarm').set_precision(4) #coolwarm to rank them by color

from the above correlation matrix, the second and third lowest correlation with the Fuel Cost Per Unit Burned are the 
Fuel_mmbtu_per_unit and fuel_cost_per_unit_delivered respectively.

# Question 9
### estimating percentage change in the fuel cost per unit burned in 1998 compared to 1994 for coal

In [50]:
df9 = df[['report_year', 'fuel_type_code_pudl', 'fuel_cost_per_unit_burned']] #extracting the required columns
df9coal = df9.where(df9['fuel_type_code_pudl']=='coal').dropna() #to reduce the data frame to that of only fuel type coal
df9coal.head()

   report_year fuel_type_code_pudl  fuel_cost_per_unit_burned
0       1994.0                coal                      18.59
1       1994.0                coal                      18.58
2       1994.0                coal                      39.72
3       1994.0                coal                      47.21
5       1994.0                coal                      44.24

In [59]:
df9coalgrp = df9coal.groupby(['report_year'], as_index=False).mean() #to group by years and take averages.
df9coalgrp.head()

   report_year  fuel_cost_per_unit_burned
0       1994.0                  31.546467
1       1995.0                  30.677442
2       1996.0                  29.454299
3       1997.0                 104.897309
4       1998.0                  27.616234

In [62]:
coal_perc_change = ((df9coalgrp.iloc[0,1]-df9coalgrp.iloc[4,1])/df9coalgrp.iloc[0,1])*100
print ('The percentage change in the fuel cost per unit burned in 1998 compared to 1994 for coal is {}'.format(coal_perc_change))

The percentage change in the fuel cost per unit burned in 1998 compared to 1994 for coal is 12.458551963280119

# Question 10
### Estimating year with highest average fuel cost per unit delivered

In [81]:
df10 = df[['report_year', 'fuel_type_code_pudl', 'fuel_cost_per_unit_delivered']] #to extract required colmns
df10grp = df10.groupby(['report_year'], as_index=False).mean() #to group by years and take average of fuel_cost_per_unit_delivered
ans10 = df10grp.sort_values( by = ['fuel_cost_per_unit_delivered'], ascending = False) #to sort in descending order of fuel_cost_per_unit_delivered
print('The year with highest average fuel cost per unit delivered is {}'.format(ans10.iloc[0,0]) )

The year with highest average fuel cost per unit delivered is 1997